/node_modules
/public/hot
/public/storage
/public/reports
/storage/*.key
/storage/firebase-service-account.json
/vendor
/.idea
/.vagrant
/build
/reports
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
.phpunit.result.cache
.php_cs.cache
html